.git
.gitignore
README.md
rsconnect
data/bila_app_nl.csv
data/bila_app_nn_2000.csv
data/bila_app_nn_6000.csv
data/bila_app_stats_2000.csv
data/bila_app_stats_2000.csv.gz
data/bila_app_stats_6000.csv.gz
LICENSE
renv
renv.lock
trim_data.R
.Rproj.user
make_RDS.R
OLD
olddata
